@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif; /* Mặc định là font Sans hiện đại */
  @apply text-[#2C3E50] antialiased;
  background-color: #FFFFFF;
}

h1, h2, h3, h4 {
  font-family: 'Lora', serif; /* Tiêu đề giữ font Serif sang trọng */
}

/* Các tùy chỉnh cuộn trang mượt mà */
html {
  scroll-behavior: smooth;
}